@import '_variables';
@import '_theme';
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '_utilities';
@import 'components/_word-definition';

html, body {
  min-height: 100%;

  > .ember-view {
    min-height: 100%;
  }
}

body {
  padding-top: 50px;
}
